@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');

@font-face {
  font-family: 'pixel';
  src: url('./font/Percy\ Pixel.ttf');
}



body {
    font-family: Arial, sans-serif;
    background: #000000;
    background-image: url(./res/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 1rem;
  }

.head{
  font-family: "Pixel", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.score{
  font-family: "Pixel", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
 
canvas{
  display: block;
}

#crack {
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 50%;
  opacity: 0;
  pointer-events: none;
  animation: crack-animation 1s forwards;
  z-index: 2;
}
@keyframes crack-animation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
#overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0;
  color: rgba(255, 255, 255, 0.273);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  z-index: 3;
  transition: opacity 2s;
}
#video-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  display: none;
  z-index: 4;
}
#video-container video {
  width: 100%;
  height: 100%;
}